@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,900&family=Shrikhand&display=swap.css");
body {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  padding: 0;
}

.liens {
  width: 100%;
}

/* Mise en forme du site de base 'maquette mobile' sur la résolution 375px/****px */
/* Index - Home */
.header {
  width: 100%;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loc__desc {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 337px;
}

.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  width: 100%;
  height: 50px;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
  width: 100%;
  height: 287px;
}

.choix {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 440px;
}

.restaurants {
  width: 100%;
  height: 1225px;
  background-color: #f6f6f6;
}

.cards {
  width: 100%;
  height: 1060px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
}

.liens {
  background-color: #353535;
  width: 100%;
  height: 197px;
}

/* Pages 1 à 4 du site */
.pages {
  width: 100%;
  height: 63px;
}

.part-menus {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: #f6f6f6;
  width: 100%;
  height: 1350px;
}

/* Adaptation taille section pour +de 3 cards (page 2) */
.part-menus1 {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: #f6f6f6;
  width: 100%;
  height: 1420px;
}

.bloc__page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  max-width: 100%;
  margin: 0;
}

.header__logo {
  width: 165px;
  height: 28px;
}

.localisation {
  width: 100%;
  height: 50px;
}
.localisation .localisation__ico {
  padding: 20px;
}

#localisation__search {
  margin-left: -10px;
  text-decoration: none;
  background: transparent;
  border: none;
  width: 125px;
  height: 25px;
  font-size: 14px;
  font-weight: 600;
}

.description__text h1 {
  display: flex;
  align-items: center;
  width: 60%;
  height: 55px;
  font-size: 20px;
  text-align: center;
  margin-bottom: -5px;
}

.description__text p {
  width: 80%;
  height: 45px;
  display: flex;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
}

.description__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 180px;
}

.description__button {
  width: 58%;
  height: 50px;
  border-radius: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  background-color: #9356DC;
}

.choix h2 {
  margin-left: 23px;
  margin-top: 50px;
}

.choix ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 270px;
}

.choix__selection {
  display: flex;
  align-items: center;
  width: 92%;
  height: 73px;
  list-style-type: none;
  border-radius: 25px;
  background: #f6f6f6;
  box-shadow: 0 0 9px 1px #D3D3D3;
}
.choix__selection .choix__num {
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 25px;
  background-color: #9356DC;
  list-style-type: none;
  height: 8px;
  color: white;
  margin-left: -10px;
  margin-right: 25px;
}

.choix__selection a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  text-decoration: none;
}

.choix__selection i {
  color: #7e7e7e;
  font-size: 16px;
  margin-right: 20px;
}

.choix__selection p {
  font-size: 16px;
  color: black;
  font-weight: 600;
}

.restaurants h2 {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: 80px;
  margin-left: 20px;
}

.cards a {
  text-decoration: none;
  color: black;
}

.cards__menu {
  border-radius: 25px;
  width: 89%;
  height: 250px;
  background-color: white;
  box-shadow: 0 0 9px 1px #D3D3D3;
}

.cards__img {
  display: flex;
  justify-content: flex-end;
}

.cards__img img {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  z-index: 1;
  object-fit: cover;
  width: 100%;
  height: 175px;
}

.cards__new {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  position: absolute;
  background-color: #99E2D0;
  font-weight: 600;
  color: #008766;
  width: 80px;
  height: 30px;
  margin-top: 13px;
  margin-right: 13px;
  border-radius: 5px;
}

.cards__description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 75px;
}
.cards__description .cards__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 75px;
  width: 46%;
  margin-left: 13px;
}
.cards__description .cards__text .cards__titre {
  display: flex;
  height: 25px;
  font-size: 16px;
  margin: 0;
}

.cards__lieu {
  display: flex;
  justify-content: flex-start;
  height: 25px;
  margin: 0;
  font-size: 16px;
  font-weight: 300;
}

.cards__like {
  display: flex;
  flex-direction: column;
  height: 75px;
  width: 6%;
  justify-content: center;
  margin-right: 20px;
}

.liens h2 {
  color: white;
  margin-left: 25px;
  font-family: "Shrikhand", sans-serif;
  font-size: 18px;
}

.liens a {
  color: white;
  text-decoration: none;
}

.liens ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 105px;
  margin-left: -15px;
}

.liens__footer {
  color: white;
  list-style-type: none;
}

.liens__footer i {
  font-size: 12px;
}

.fas.fa-utensils {
  margin-right: 10px;
}

.fas.fa-hands-helping {
  margin-right: 5px;
}

#bloc__page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  max-width: 100%;
  margin: 0;
}

/* Header des pages 1 à 4 */
.pages {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.pages__logo {
  width: 80%;
}

.pages a {
  display: flex;
  width: 20%;
  margin-left: 5%;
  text-decoration: none;
}

.pages i {
  display: flex;
  font-size: 18px;
  color: black;
}

/* Bloc image et titre des menus */
.titre__img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  z-index: 1;
}

.titre {
  display: flex;
  flex-direction: column;
}

.titre__block {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: -50px;
  border-radius: 40px 40px 0 0;
  z-index: 2;
  background-color: #f6f6f6;
}

.titre__menus {
  font-family: "Shrikhand", sans-serif;
  font-size: 26px;
}

.titre__like {
  font-size: 24px;
}

/* Menus */
.menus__titres h3 {
  margin-left: 15px;
  font-size: 16px;
  font-weight: 400;
}

.menus__ligne {
  width: 40px;
  border-top: 4px solid #99E2D0;
  margin-top: -15px;
  margin-bottom: 15px;
  margin-left: 15px;
  border-top: 4px solid #99E2D0;
}

.menus__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  height: 236px;
}

/* Adaptation taille bloc de + de trois vignettes (cards) */
.menus__cards1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  height: 314px;
}

/* Vignettes */
.palette {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 94%;
  height: 68px;
  border-radius: 15px;
  background: white;
  box-shadow: 0 0 9px 1px #D3D3D3;
}

.palette__text {
  margin-left: 10px;
}

.palette__text h4 {
  margin: 0;
}

.palette__text p {
  margin: 0;
  font-size: 16px;
  text-overflow: ellipsis;
}

.palette__price {
  margin-right: 20px;
  display: flex;
  align-items: flex-end;
  height: 40px;
}

/* Boutton commander */
.button {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.button .button__commander {
  width: 50%;
  height: 50px;
  margin-top: 50px;
  border-radius: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  background-color: #9356DC;
  border-style: none;
}

/*** Règles Média Queries résolutions <280px ***/
@media screen and (max-width: 280px) {
  /** Index **/
  .description__button {
    font-size: 12px;
  }

  .choix__selection p {
    font-size: 14px;
  }

  .choix__selection i {
    margin-right: 10px;
  }

  /** Pages **/
  .pages a {
    width: 10%;
  }

  .titre__menus {
    font-size: 22px;
  }

  .palette__text h4 {
    font-size: 14px;
  }

  .palette__text p {
    font-size: 12px;
  }

  .palette__price {
    margin-right: 10px;
    font-size: 14px;
  }
}
/*** Fin des règles Média Queries résolutions <280px ***/
/*** Règles Média Queries résolutions <330px ***/
@media screen and (max-width: 330px) {
  /** Index **/
  .description__button {
    font-size: 14px;
  }

  .choix__selection .choix__num {
    margin-right: 10px;
  }

  .choix__selection i {
    margin-right: 15px;
  }

  .cards__description .cards__text {
    width: 55%;
  }

  /** Pages **/
  .titre__menus {
    font-size: 22px;
  }

  .palette__text h4 {
    font-size: 14px;
  }

  .palette__text p {
    font-size: 14px;
  }
}
/*** Fin des règles Média Queries résolutions <330px ***/
/*** Règles Média Queries résolutions <400px ***/
@media screen and (min-width: 400px) {
  /** Index **/
  .choix__selection p {
    margin-left: 20px;
  }

  .description__text {
    width: auto;
  }
}
/*** Fin des règles Média Queries résolutions <400px ***/
/*** Règles Média Queries résolutions <460px ***/
@media screen and (min-width: 460px) {
  /** Index **/
  .choix {
    align-items: center;
  }

  .choix ul {
    width: 70%;
    align-items: center;
  }
}
/*** Fin des règles Média Queries résolutions <460px ***/
/*** Règles Média Queries résolutions <760px ***/
@media screen and (min-width: 760px) {
  /** Index **/
  .pages__logo {
    margin-left: 15%;
  }

  .description__text {
    width: auto;
  }

  .description__button {
    width: 40%;
  }

  .choix ul {
    width: 60%;
  }

  .choix__selection a {
    font-size: 20px;
  }

  .choix__selection p {
    margin-left: 40px;
  }

  .menus__titres h3 {
    margin-left: 30px;
  }

  .menus__ligne {
    margin-left: 30px;
  }

  .restaurants h2 {
    align-items: center;
  }

  .cards__menu {
    width: 80%;
  }

  .button .button__commander {
    font-size: 16px;
    width: 40%;
  }

  .liens h2 {
    margin-left: 35px;
  }

  .liens ul {
    margin: 0;
  }
}
/*** Fin des règles Média Queries résolutions <760px ***/
/*** Règles Média Queries résolutions <830px ***/
@media screen and (min-width: 830px) {
  /** Index **/
  .choix__selection p {
    margin-left: 60px;
  }

  .choix__selection .choix__num {
    margin-right: 30px;
  }

  .liens h2 {
    margin-left: 50px;
  }

  .liens ul {
    margin-left: 10px;
  }
}
/*** Fin des règles Média Queries résolutions <830px ***/
/*** Règles Média Queries résolutions <1020px ***/
@media screen and (min-width: 1020px) {
  /** Index **/
  .choix__selection p {
    margin-left: 70px;
  }

  .choix ul {
    width: 55%;
  }

  .choix__selection .choix__num {
    margin-right: 40px;
  }
}
/*** Fin des règles Média Queries résolutions <1020px ***/
/*** Règles Média Queries résolutions <1280px ***/
@media screen and (min-width: 1280px) {
  /** Index **/
  .choix ul {
    width: 44%;
  }

  .cards__menu {
    width: 70%;
  }
}
/*** Fin des règles Média Queries résolutions <1280px ***/
/*** Règles Média Queries résolutions <1360px ***/
@media screen and (min-width: 1360px) {
  /** Index **/
  .loc__desc {
    align-items: center;
  }

  .localisation {
    width: 70%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }

  .description {
    width: 70%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
  }

  .choix ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 85%;
  }

  .choix__selection {
    width: 25%;
  }

  .choix__selection .choix__num {
    margin-right: 10%;
  }

  .choix__selection i {
    margin: 0;
  }

  .choix__selection p {
    margin-left: 10%;
  }

  .choix {
    height: 300px;
  }

  .choix h2 {
    margin: 45px 0 0 0;
  }

  .restaurants {
    display: flex;
    width: 100%;
    height: 830px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    background-color: white;
  }

  .restaurants h2 {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding-top: 10px;
    width: 70%;
    background-color: #f6f6f6;
    justify-content: space-around;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }

  .cards {
    width: 70%;
    height: 600px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    background-color: #f6f6f6;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
  }

  .cards__menu {
    width: 40%;
  }

  .liens {
    display: flex;
    flex-direction: column;
    height: 150px;
  }

  .liens ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 50px;
    margin-left: -15px;
    align-items: center;
    font-size: 16px;
  }

  .liens h2 {
    font-size: 24px;
    margin-left: 0px;
  }

  .liens a {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  /** Pages **/
  .part-menus {
    height: 1110px;
  }

  .part-menus1 {
    height: 1150px;
  }

  .titre__img {
    height: 400px;
  }

  .menus {
    display: flex;
    flex-wrap: wrap;
    height: 410px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
  }

  .menus__titres {
    width: 30%;
    display: flex;
    height: 70px;
    flex-direction: column;
  }

  .menus__cards {
    width: 30%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 90px;
  }

  .menus__cards1 {
    width: 30%;
    height: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    height: 340px;
  }

  .titre__menus {
    font-size: 34px;
  }

  .titre__like {
    font-size: 30px;
  }

  .button .button__commander {
    width: 25%;
  }
}
/*** Fin des règles Média Queries résolutions <1360px **/

/*# sourceMappingURL=style.css.map */
